<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
          }
        button {
            text-align: center;
            color: white;
            background-color: cadetblue;
            border: none;
            font-weight: bold;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
        }
        button:hover {
            background-color: darkcyan;
        }
    </style>
    <h3>Hello World!</h3>
    <button onclick="start()" >Start</button>
    <script>
        function start() {
          window.location.href = 'http://localhost:3000/test';
        }
      </script>
</body>
</html>